
       
       <div class="login-form" style="border: solid;padding: 20px;">
        <p style="color: crimson;">{{errorMessage}}</p>
         <form (ngSubmit)="registerUser()">
                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" name="username" placeholder="User Name" [(ngModel)]="user.username">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.password">
                  </div>
                
                  <button type="submit" class="btn btn-secondary">Register</button>
               </form>
               </div>
    
