
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;display:flex">
    
    <div class="navbar-header" style="flex: 1;">
      <a class="navbar-brand" href="#"><h2>Dashboard</h2></a>
    </div>
    
  </nav>




    
    <div *ngIf="recipes?.length == 0">
        <h2  class="view-form view-form-h2">{{errorMessage}}</h2>
      </div>
    <div *ngIf="recipes?.length > 0">
    <h2 style="text-align: center;">Menu</h2>
    <div>
    <button class="card" style="width: 18rem;display:inline-block;margin: .25rem;max-width: 398px;max-height: 350px;" (click)="createRecipe()">
        
        <div class="card-body" style="margin-left: 30%;">
          
          <h5 class="card-title" style="font-size: 150px;align-content: center;">+</h5>
          
         
        </div>
        <h5 style="margin-left: 4%;width: 100%;">Add Recipe</h5>
    </button>
    </div>
    
     <div class="card" style="width: 25rem;display:inline-block;margin: .25rem;" *ngFor="let recipe of recipes; index as i">
       
        <div class="card-body">
          <h5 class="card-title">{{recipe.recipeName}}</h5>
          <p class="card-text" style="line-break: auto;"> VegIndicator :{{recipe.vegIndicator}}</p>
          <p class="card-text" style="line-break: auto;">ServerFor:{{recipe.servedForPeople}}</p>
          <p class="card-text" style="line-break: auto;"> Cooking Instructions:{{recipe.cookingInstruction}}</p>
          <p class="card-text" style="line-break: auto;"> Ingredients: <li *ngFor="let ingredient of recipe.ingredients; index as i">{{ingredient.ingredientName}}</li></p>
              
              <button class="btn btn-primary recipe-page-buttons"  (click)="editRecipe(recipe)">Update Recipe</button>
              <button class="btn btn-primary recipe-page-buttons"  (click)="deleteRecipe(recipe.id)">Delete Recipe</button>
              
        </div>
      </div>
</div> 


