.view-form{
    margin: auto;
    width: 60%;
    
    padding: 10px;
   


}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}