<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="navbar-header">
     <a class="navbar-brand" href="#">Edit Recipe</a>
   </div>
</nav>
<div class="create-form" >
<form>
    <div class="form-group">

        <label for="ingredients">Dish Name</label><br>

        <input type="text" name="recipeName" class = "form-control" [(ngModel)]="recipe.recipeName">

    </div>
   <div class="form-group">

       <label for="vegIndiactor">Veg indicator</label><br>

       <input type="text" name="vegIndicator" class = "form-control" [(ngModel)]="recipe.vegIndicator">

   </div>
   <div class="form-group">

       <label for="cookingInstructions">Cooking Instructions</label><br>

       <input type="text" name="cookingInstructions" class = "form-control" [(ngModel)]="recipe.cookingInstruction">

   </div>
   <div class="form-group">

    <label for="cookingInstructions">Ingredients</label><br>

    <input type="text" name="ingredients" class = "form-control" [(ngModel)]="ingredientStr">

</div>
   
<div class="form-group">

    <label for="ingredients">Serverd For</label><br>

    <input type="text" name="servedForPeople" class = "form-control" [(ngModel)]="recipe.servedForPeople">

</div>

   <button class="btn btn-primary" (click)="editRecipe()">Edit Recipe</button>
</form> 
</div>