.create-form{
    margin: auto;
    width: 60%;
    border: 2px solid black;
    padding: 10px;
   
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}